ws/tsws/docs/application.wadl

<?xml version="1.0" encoding="UTF-8"?>
<wadl:application xmlns:wadl="http://wadl.dev.java.net/2009/02" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <wadl:doc xmlns:enunciate="http://enunciate.codehaus.org/" enunciate:generatedBy="Enunciate-1.26.1"/>
  <wadl:grammars>
    <wadl:include href="ns0.xsd"/>
  </wadl:grammars>
  <wadl:resources base="http://localhost:8080/enunciate">
    <wadl:resource path="/rest/ask/likesunlikes">
      <wadl:method name="POST">
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/ask/likesunlikes">
      <wadl:method name="POST">
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/rest/ask/recofollowupanswer">
      <wadl:method name="POST">
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/ask/recofollowupanswer">
      <wadl:method name="POST">
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/rest/ask/recofriends">
      <wadl:method name="GET">
        <wadl:request>
          <wadl:param name="recorequestid" style="query"/>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/ask/recofriends">
      <wadl:method name="GET">
        <wadl:request>
          <wadl:param name="recorequestid" style="query"/>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/rest/ask/recolist">
      <wadl:method name="GET">
        <wadl:request>
          <wadl:param name="userid" style="query"/>
          <wadl:param name="paginationid" style="query"/>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/ask/recolist">
      <wadl:method name="GET">
        <wadl:request>
          <wadl:param name="userid" style="query"/>
          <wadl:param name="paginationid" style="query"/>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/rest/ask/recommendedrestaurants">
      <wadl:method name="GET">
        <wadl:request>
          <wadl:param name="recorequestid" style="query"/>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/ask/recommendedrestaurants">
      <wadl:method name="GET">
        <wadl:request>
          <wadl:param name="recorequestid" style="query"/>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/rest/ask/recomsg">
      <wadl:method name="GET">
        <wadl:request>
          <wadl:param name="messageid" style="query"/>
          <wadl:param name="recipientuserid" style="query"/>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/ask/recomsg">
      <wadl:method name="GET">
        <wadl:request>
          <wadl:param name="messageid" style="query"/>
          <wadl:param name="recipientuserid" style="query"/>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/rest/ask/recomsgans">
      <wadl:method name="POST">
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/ask/recomsgans">
      <wadl:method name="POST">
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/rest/ask/recoreqans">
      <wadl:method name="POST">
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/ask/recoreqans">
      <wadl:method name="POST">
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/rest/ask/recorequest">
      <wadl:method name="GET">
        <wadl:request>
          <wadl:param name="userid" style="query"/>
          <wadl:param name="recorequestid" style="query"/>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/ask/recorequest">
      <wadl:method name="GET">
        <wadl:request>
          <wadl:param name="userid" style="query"/>
          <wadl:param name="recorequestid" style="query"/>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/rest/ask/recos4you">
      <wadl:method name="GET">
        <wadl:request>
          <wadl:param name="userid" style="query"/>
          <wadl:param name="recorequestid" style="query"/>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/ask/recos4you">
      <wadl:method name="GET">
        <wadl:request>
          <wadl:param name="userid" style="query"/>
          <wadl:param name="recorequestid" style="query"/>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/rest/ask/recosandlikes">
      <wadl:method name="GET">
        <wadl:request>
          <wadl:param name="recolikeid" style="query"/>
          <wadl:param name="recommenderuserid" style="query"/>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/ask/recosandlikes">
      <wadl:method name="GET">
        <wadl:request>
          <wadl:param name="recolikeid" style="query"/>
          <wadl:param name="recommenderuserid" style="query"/>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/rest/ask/recosearch">
      <wadl:method name="POST">
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/ask/recosearch">
      <wadl:method name="POST">
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/rest/ask/recosfollowup">
      <wadl:method name="GET">
        <wadl:request>
          <wadl:param name="userid" style="query"/>
          <wadl:param name="questionid" style="query"/>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/ask/recosfollowup">
      <wadl:method name="GET">
        <wadl:request>
          <wadl:param name="userid" style="query"/>
          <wadl:param name="questionid" style="query"/>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/rest/ask/recosidrestaurantsearchresults">
      <wadl:method name="GET">
        <wadl:request>
          <wadl:param name="userid" style="query"/>
          <wadl:param name="recorequestid" style="query"/>
          <wadl:param name="paginationid" style="query"/>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/ask/recosidrestaurantsearchresults">
      <wadl:method name="GET">
        <wadl:request>
          <wadl:param name="userid" style="query"/>
          <wadl:param name="recorequestid" style="query"/>
          <wadl:param name="paginationid" style="query"/>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/rest/ask/recosrestaurantsearchresults">
      <wadl:method name="GET">
        <wadl:request>
          <wadl:param name="userid" style="query"/>
          <wadl:param name="restaurantid" style="query"/>
          <wadl:param name="neighborhoodid" style="query"/>
          <wadl:param name="cityid" style="query"/>
          <wadl:param name="statename" style="query"/>
          <wadl:param name="cuisineidtier1idlist" style="query"/>
          <wadl:param name="priceidlist" style="query"/>
          <wadl:param name="rating" style="query"/>
          <wadl:param name="savedflag" style="query"/>
          <wadl:param name="favflag" style="query"/>
          <wadl:param name="dealflag" style="query"/>
          <wadl:param name="chainflag" style="query"/>
          <wadl:param name="paginationid" style="query"/>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/ask/recosrestaurantsearchresults">
      <wadl:method name="GET">
        <wadl:request>
          <wadl:param name="userid" style="query"/>
          <wadl:param name="restaurantid" style="query"/>
          <wadl:param name="neighborhoodid" style="query"/>
          <wadl:param name="cityid" style="query"/>
          <wadl:param name="statename" style="query"/>
          <wadl:param name="cuisineidtier1idlist" style="query"/>
          <wadl:param name="priceidlist" style="query"/>
          <wadl:param name="rating" style="query"/>
          <wadl:param name="savedflag" style="query"/>
          <wadl:param name="favflag" style="query"/>
          <wadl:param name="dealflag" style="query"/>
          <wadl:param name="chainflag" style="query"/>
          <wadl:param name="paginationid" style="query"/>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/rest/ask/saverecofriends">
      <wadl:method name="POST">
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/ask/saverecofriends">
      <wadl:method name="POST">
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/rest/populate/cuisinetier1">
      <wadl:method name="GET">
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/populate/cuisinetier1">
      <wadl:method name="GET">
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/rest/populate/cuisinetier2">
      <wadl:method name="GET">
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/populate/cuisinetier2">
      <wadl:method name="GET">
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/rest/populate/locationsearchterms">
      <wadl:method name="GET">
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/populate/locationsearchterms">
      <wadl:method name="GET">
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/rest/populate/locationsearchtermsTest">
      <wadl:method name="GET">
        <wadl:request>
          <wadl:param name="neighbourhood" style="query"/>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/populate/locationsearchtermsTest">
      <wadl:method name="GET">
        <wadl:request>
          <wadl:param name="neighbourhood" style="query"/>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/rest/populate/moodsearchterms">
      <wadl:method name="GET">
        <wadl:doc>
          <![CDATA[Order of the results:
CuisineTier1
CuisineTier2
OccasionDescriptor
PriceDescriptor
ThemeDescriptor
TypeofrestDescriptor
WhoareyouwithDescriptor]]>
        </wadl:doc>
        <wadl:response>
          <wadl:doc>
            <![CDATA[list of arrays in the orders as mentioned above in description.]]>
          </wadl:doc>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/populate/moodsearchterms">
      <wadl:method name="GET">
        <wadl:doc>
          <![CDATA[Order of the results:
CuisineTier1
CuisineTier2
OccasionDescriptor
PriceDescriptor
ThemeDescriptor
TypeofrestDescriptor
WhoareyouwithDescriptor]]>
        </wadl:doc>
        <wadl:response>
          <wadl:doc>
            <![CDATA[list of arrays in the orders as mentioned above in description.]]>
          </wadl:doc>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/rest/populate/occasion">
      <wadl:method name="GET">
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/populate/occasion">
      <wadl:method name="GET">
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/rest/populate/price">
      <wadl:method name="GET">
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/populate/price">
      <wadl:method name="GET">
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/rest/populate/restaurantSearchTerms">
      <wadl:method name="POST">
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/populate/restaurantSearchTerms">
      <wadl:method name="POST">
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/rest/populate/theme">
      <wadl:method name="GET">
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/populate/theme">
      <wadl:method name="GET">
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/rest/populate/typeofrest">
      <wadl:method name="GET">
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/populate/typeofrest">
      <wadl:method name="GET">
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/rest/populate/whoareyouwith">
      <wadl:method name="GET">
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/populate/whoareyouwith">
      <wadl:method name="GET">
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/rest/restaurant/allrestaurants">
      <wadl:method name="GET">
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/restaurant/allrestaurants">
      <wadl:method name="GET">
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/rest/restaurant/aptips">
      <wadl:method name="GET">
        <wadl:request>
          <wadl:param name="userid" style="query"/>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/restaurant/aptips">
      <wadl:method name="GET">
        <wadl:request>
          <wadl:param name="userid" style="query"/>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/rest/restaurant/askdetails">
      <wadl:method name="GET">
        <wadl:request>
          <wadl:param name="userid" style="query"/>
          <wadl:param name="restaurantid" style="query"/>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/restaurant/askdetails">
      <wadl:method name="GET">
        <wadl:request>
          <wadl:param name="userid" style="query"/>
          <wadl:param name="restaurantid" style="query"/>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/rest/restaurant/askquestion">
      <wadl:method name="POST">
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/restaurant/askquestion">
      <wadl:method name="POST">
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/rest/restaurant/buzz">
      <wadl:method name="GET">
        <wadl:request>
          <wadl:param name="userid" style="query"/>
          <wadl:param name="restaurantid" style="query"/>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/restaurant/buzz">
      <wadl:method name="GET">
        <wadl:request>
          <wadl:param name="userid" style="query"/>
          <wadl:param name="restaurantid" style="query"/>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/rest/restaurant/details">
      <wadl:method name="GET">
        <wadl:request>
          <wadl:param name="userid" style="query"/>
          <wadl:param name="restaurantid" style="query"/>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/restaurant/details">
      <wadl:method name="GET">
        <wadl:request>
          <wadl:param name="userid" style="query"/>
          <wadl:param name="restaurantid" style="query"/>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/rest/restaurant/extendedinfo">
      <wadl:method name="GET">
        <wadl:request>
          <wadl:param name="userid" style="query"/>
          <wadl:param name="restaurantid" style="query"/>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/restaurant/extendedinfo">
      <wadl:method name="GET">
        <wadl:request>
          <wadl:param name="userid" style="query"/>
          <wadl:param name="restaurantid" style="query"/>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/rest/restaurant/menu">
      <wadl:method name="GET">
        <wadl:request>
          <wadl:param name="userid" style="query"/>
          <wadl:param name="restaurantid" style="query"/>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/restaurant/menu">
      <wadl:method name="GET">
        <wadl:request>
          <wadl:param name="userid" style="query"/>
          <wadl:param name="restaurantid" style="query"/>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/rest/restaurant/photos">
      <wadl:method name="GET">
        <wadl:request>
          <wadl:param name="userid" style="query"/>
          <wadl:param name="restaurantid" style="query"/>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/restaurant/photos">
      <wadl:method name="GET">
        <wadl:request>
          <wadl:param name="userid" style="query"/>
          <wadl:param name="restaurantid" style="query"/>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/rest/restaurant/recodetails">
      <wadl:method name="GET">
        <wadl:request>
          <wadl:param name="userid" style="query"/>
          <wadl:param name="restaurantid" style="query"/>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/restaurant/recodetails">
      <wadl:method name="GET">
        <wadl:request>
          <wadl:param name="userid" style="query"/>
          <wadl:param name="restaurantid" style="query"/>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/rest/restaurant/restaurantdetails">
      <wadl:method name="GET">
        <wadl:request>
          <wadl:param name="restaurantid" style="query"/>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/restaurant/restaurantdetails">
      <wadl:method name="GET">
        <wadl:request>
          <wadl:param name="restaurantid" style="query"/>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/rest/restaurant/save">
      <wadl:method name="POST">
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/restaurant/save">
      <wadl:method name="POST">
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/rest/restaurant/savefavs">
      <wadl:method name="POST">
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/restaurant/savefavs">
      <wadl:method name="POST">
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/rest/restaurant/savetips">
      <wadl:method name="POST">
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/restaurant/savetips">
      <wadl:method name="POST">
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/rest/user/allusers">
      <wadl:method name="GET">
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/user/allusers">
      <wadl:method name="GET">
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/rest/user/getAllData">
      <wadl:method name="POST">
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/user/getAllData">
      <wadl:method name="POST">
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/rest/user/getCity">
      <wadl:method name="POST">
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/user/getCity">
      <wadl:method name="POST">
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/rest/user/getHomeProfile">
      <wadl:method name="POST">
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/user/getHomeProfile">
      <wadl:method name="POST">
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/rest/user/getUserCity">
      <wadl:method name="POST">
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/user/getUserCity">
      <wadl:method name="POST">
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/rest/user/getUserObject">
      <wadl:method name="POST">
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/user/getUserObject">
      <wadl:method name="POST">
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/rest/user/inviteFriend">
      <wadl:method name="POST">
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/user/inviteFriend">
      <wadl:method name="POST">
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/rest/user/loginAccount">
      <wadl:method name="POST">
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/user/loginAccount">
      <wadl:method name="POST">
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/rest/user/report">
      <wadl:method name="POST">
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/user/report">
      <wadl:method name="POST">
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/rest/user/sendMessageToUser">
      <wadl:method name="POST">
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/user/sendMessageToUser">
      <wadl:method name="POST">
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/rest/user/setStatus">
      <wadl:method name="POST">
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/user/setStatus">
      <wadl:method name="POST">
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/rest/user/showAboutTastesync">
      <wadl:method name="POST">
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/user/showAboutTastesync">
      <wadl:method name="POST">
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/rest/user/showFollowStatus">
      <wadl:method name="POST">
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/user/showFollowStatus">
      <wadl:method name="POST">
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/rest/user/showProfileFollowers">
      <wadl:method name="POST">
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/user/showProfileFollowers">
      <wadl:method name="POST">
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/rest/user/showProfileFollowing">
      <wadl:method name="POST">
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/user/showProfileFollowing">
      <wadl:method name="POST">
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/rest/user/showProfileFriends">
      <wadl:method name="POST">
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/user/showProfileFriends">
      <wadl:method name="POST">
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/rest/user/showProfileRestaurants">
      <wadl:method name="POST">
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/user/showProfileRestaurants">
      <wadl:method name="POST">
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/rest/user/showRestaurantSuggestion">
      <wadl:method name="POST">
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/user/showRestaurantSuggestion">
      <wadl:method name="POST">
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/rest/user/showSettingsNotifications">
      <wadl:method name="POST">
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/user/showSettingsNotifications">
      <wadl:method name="POST">
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/rest/user/showSettingsPrivacy">
      <wadl:method name="POST">
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/user/showSettingsPrivacy">
      <wadl:method name="POST">
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/rest/user/showSettingsSocial">
      <wadl:method name="POST">
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/user/showSettingsSocial">
      <wadl:method name="POST">
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/rest/user/showSignupDetail">
      <wadl:method name="GET">
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/user/showSignupDetail">
      <wadl:method name="GET">
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/rest/user/showTrustedFriend">
      <wadl:method name="POST">
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/user/showTrustedFriend">
      <wadl:method name="POST">
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/rest/user/submitFollowUserStatusChange">
      <wadl:method name="POST">
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/user/submitFollowUserStatusChange">
      <wadl:method name="POST">
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/rest/user/submitLogin">
      <wadl:method name="POST">
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/user/submitLogin">
      <wadl:method name="POST">
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/rest/user/submitLoginFacebook">
      <wadl:method name="POST">
        <wadl:request>
          <wadl:representation mediaType="application/json"/>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/user/submitLoginFacebook">
      <wadl:method name="POST">
        <wadl:request>
          <wadl:representation mediaType="application/json"/>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/rest/user/submitLogout">
      <wadl:method name="POST">
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/user/submitLogout">
      <wadl:method name="POST">
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/rest/user/submitMyProfileAboutMe">
      <wadl:method name="POST">
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/user/submitMyProfileAboutMe">
      <wadl:method name="POST">
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/rest/user/submitSettingsContactUs">
      <wadl:method name="POST">
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/user/submitSettingsContactUs">
      <wadl:method name="POST">
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/rest/user/submitSettingsNotifications">
      <wadl:method name="POST">
        <wadl:request>
          <wadl:representation mediaType="application/json"/>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/user/submitSettingsNotifications">
      <wadl:method name="POST">
        <wadl:request>
          <wadl:representation mediaType="application/json"/>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/rest/user/submitSettingsPrivacy">
      <wadl:method name="POST">
        <wadl:request>
          <wadl:representation mediaType="application/json"/>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/user/submitSettingsPrivacy">
      <wadl:method name="POST">
        <wadl:request>
          <wadl:representation mediaType="application/json"/>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/rest/user/submitSettingsSocial">
      <wadl:method name="POST">
        <wadl:request>
          <wadl:representation mediaType="application/json"/>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/user/submitSettingsSocial">
      <wadl:method name="POST">
        <wadl:request>
          <wadl:representation mediaType="application/json"/>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/rest/user/submitSignupDetail">
      <wadl:method name="POST">
        <wadl:request>
          <wadl:representation mediaType="application/json"/>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/user/submitSignupDetail">
      <wadl:method name="POST">
        <wadl:request>
          <wadl:representation mediaType="application/json"/>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/rest/user/submitTrustedFriendStatusChange">
      <wadl:method name="POST">
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/user/submitTrustedFriendStatusChange">
      <wadl:method name="POST">
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/rest/user/submitUserReport">
      <wadl:method name="POST">
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/user/submitUserReport">
      <wadl:method name="POST">
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/rest/user/userdetails">
      <wadl:method name="GET">
        <wadl:request>
          <wadl:param name="userId" style="query"/>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/user/userdetails">
      <wadl:method name="GET">
        <wadl:request>
          <wadl:param name="userId" style="query"/>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/rest/user/profile/me">
      <wadl:method name="GET">
        <wadl:request>
          <wadl:param name="userId" style="query"/>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/user/profile/me">
      <wadl:method name="GET">
        <wadl:request>
          <wadl:param name="userId" style="query"/>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/rest/user/profile/restaurants">
      <wadl:method name="GET">
        <wadl:request>
          <wadl:param name="userId" style="query"/>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/user/profile/restaurants">
      <wadl:method name="GET">
        <wadl:request>
          <wadl:param name="userId" style="query"/>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/rest/user/profile/user">
      <wadl:method name="GET">
        <wadl:request>
          <wadl:param name="userId" style="query"/>
          <wadl:param name="viewerUserId" style="query"/>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/user/profile/user">
      <wadl:method name="GET">
        <wadl:request>
          <wadl:param name="userId" style="query"/>
          <wadl:param name="viewerUserId" style="query"/>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
  </wadl:resources>
</wadl:application>
