ws/tsws/docs/ns0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="restaurants" type="TSCurrentRecommendedRestaurantDetailsObj"/>
  <xs:element name="error" type="TSErrorObj"/>
  <xs:element name="facebook_user_data" type="TSFacebookUserDataObj"/>
  <xs:element name="list_user_profile_fb" type="TSListFacebookUserDataObj"/>
  <xs:element name="listNotifications" type="TSListNotificationSettingsObj"/>
  <xs:element name="notifications" type="TSNotificationSettingsObj"/>
  <xs:element name="photo" type="TSPhotoObj"/>
  <xs:element name="privacy" type="TSPrivacySettingsObj"/>
  <xs:element name="restaurantdetails" type="TSRestaurantDetailsObj"/>
  <xs:element name="restaurantextendedinfo" type="TSRestaurantExtendInfoObj"/>
  <xs:element name="restaurant" type="TSRestaurantObj"/>
  <xs:element name="restaurantsUserProfileHome" type="TSRestaurantView"/>
  <xs:element name="autopub" type="TSSocialAutoPubSettingsObj"/>
  <xs:element name="social" type="TSSocialSettingsObj"/>
  <xs:element name="success" type="TSSuccessObj"/>
  <xs:element name="user" type="TSUserObj"/>
  <xs:element name="userprofilebasic" type="TSUserProfileBasicObj"/>
  <xs:element name="userprofile" type="TSUserProfileObj"/>
  <xs:element name="userprofilerestaurants" type="TSUserProfileRestaurantsObj"/>
  <xs:element name="recorequest" type="TSRecoRequestObj"/>
  <xs:element name="recosfollowup" type="TSRecommendationsFollowupObj"/>
  <xs:element name="recos4u" type="TSRecommendationsForYouObj"/>
  <xs:element name="recommendeeusers" type="TSRecommendeeUserObj"/>
  <xs:element name="recommenders" type="TSRecommendersDetailsObj"/>
  <xs:element name="senderuser" type="TSSenderUserObj"/>
  <xs:complexType name="TSCityObj">
    <xs:sequence>
      <xs:element name="cityId" type="xs:string" minOccurs="0"/>
      <xs:element name="country" type="xs:string" minOccurs="0"/>
      <xs:element name="state" type="xs:string" minOccurs="0"/>
      <xs:element name="city" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TSCurrentRecommendedRestaurantDetailsObj">
    <xs:sequence>
      <xs:element name="userId" type="xs:string" minOccurs="0"/>
      <xs:element name="restaurantId" type="xs:string" minOccurs="0"/>
      <xs:element name="questionId" type="xs:string" minOccurs="0"/>
      <xs:element name="tsRecommendersDetailsObj" type="TSRecommendersDetailsObj" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TSErrorObj">
    <xs:sequence>
      <xs:element name="errorMsg" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TSFacebookUserDataObj">
    <xs:sequence>
      <xs:element name="userName" type="xs:string" minOccurs="0"/>
      <xs:element name="id" type="xs:string" minOccurs="0"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="firstName" type="xs:string" minOccurs="0"/>
      <xs:element name="middleName" type="xs:string" minOccurs="0"/>
      <xs:element name="lastName" type="xs:string" minOccurs="0"/>
      <xs:element name="gender" type="xs:string" minOccurs="0"/>
      <xs:element name="locale" type="xs:string" minOccurs="0"/>
      <xs:element name="link" type="xs:string" minOccurs="0"/>
      <xs:element name="ageRange" type="xs:string" minOccurs="0"/>
      <xs:element name="birthday" type="xs:string" minOccurs="0"/>
      <xs:element name="thirdPartyId" type="xs:string" minOccurs="0"/>
      <xs:element name="friendlists" type="xs:string" minOccurs="0"/>
      <xs:element name="installed" type="xs:string" minOccurs="0"/>
      <xs:element name="timezone" type="xs:string" minOccurs="0"/>
      <xs:element name="updatedTime" type="xs:string" minOccurs="0"/>
      <xs:element name="verified" type="xs:string" minOccurs="0"/>
      <xs:element name="devices" type="xs:string" minOccurs="0"/>
      <xs:element name="email" type="xs:string" minOccurs="0"/>
      <xs:element name="hometown" type="xs:string" minOccurs="0"/>
      <xs:element name="location" type="xs:string" minOccurs="0"/>
      <xs:element name="picture" type="xs:string" minOccurs="0"/>
      <xs:element name="relationshipStatus" type="xs:string" minOccurs="0"/>
      <xs:element name="checkins" type="xs:string" minOccurs="0"/>
      <xs:element name="friends" type="xs:string" minOccurs="0"/>
      <xs:element name="likes" type="xs:string" minOccurs="0"/>
      <xs:element name="permissions" type="xs:string" minOccurs="0"/>
      <xs:element name="create" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TSListFacebookUserDataObj">
    <xs:sequence>
      <xs:element name="user_current_profile" type="TSFacebookUserDataObj" minOccurs="0"/>
      <xs:element name="list_user_profile" type="TSFacebookUserDataObj" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TSListNotificationSettingsObj">
    <xs:sequence>
      <xs:element name="userId" type="xs:string" minOccurs="0"/>
      <xs:element name="notification" type="TSNotificationSettingsObj" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TSNotificationSettingsObj">
    <xs:sequence>
      <xs:element name="order_id" type="xs:string" minOccurs="0"/>
      <xs:element name="phoneFlag" type="xs:string" minOccurs="0"/>
      <xs:element name="emailFlag" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TSPhotoObj">
    <xs:sequence>
      <xs:element name="userId" type="xs:string" minOccurs="0"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="photo" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TSPrivacySettingsObj">
    <xs:sequence>
      <xs:element name="privacy_id_order" type="xs:string" minOccurs="0"/>
      <xs:element name="privacy_flag" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TSRestaurantDetailsObj">
    <xs:sequence>
      <xs:element name="openNowFlag" type="xs:string" minOccurs="0"/>
      <xs:element name="dealHeadline" type="xs:string" minOccurs="0"/>
      <xs:element name="photoList" type="TSPhotoObj" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="moreInfoFlag" type="xs:string" minOccurs="0"/>
      <xs:element name="menuFlag" type="xs:string" minOccurs="0"/>
      <xs:element name="userRestaurantSavedFlag" type="xs:string" minOccurs="0"/>
      <xs:element name="userRestaurantFavFlag" type="xs:string" minOccurs="0"/>
      <xs:element name="userRestaurantTipFlag" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TSRestaurantExtendInfoObj">
    <xs:sequence>
      <xs:element name="phoneNumber" type="xs:string" minOccurs="0"/>
      <xs:element name="website" type="xs:string" minOccurs="0"/>
      <xs:element name="healthyOptionsFlag" type="xs:string" minOccurs="0"/>
      <xs:element name="wifiFlag" type="xs:string" minOccurs="0"/>
      <xs:element name="payCashonlyFlag" type="xs:string" minOccurs="0"/>
      <xs:element name="reservationsFlag" type="xs:string" minOccurs="0"/>
      <xs:element name="open24HoursFlag" type="xs:string" minOccurs="0"/>
      <xs:element name="attire" type="xs:string" minOccurs="0"/>
      <xs:element name="attireRequiredList" type="xs:string" minOccurs="0"/>
      <xs:element name="attireProhibitedList" type="xs:string" minOccurs="0"/>
      <xs:element name="parkingFlag" type="xs:string" minOccurs="0"/>
      <xs:element name="parkingValetFlag" type="xs:string" minOccurs="0"/>
      <xs:element name="parkingFreeFlag" type="xs:string" minOccurs="0"/>
      <xs:element name="parkingGarageFlag" type="xs:string" minOccurs="0"/>
      <xs:element name="parkingLotFlag" type="xs:string" minOccurs="0"/>
      <xs:element name="parkingStreetFlag" type="xs:string" minOccurs="0"/>
      <xs:element name="parkingValidatedFlag" type="xs:string" minOccurs="0"/>
      <xs:element name="smokingFlag" type="xs:string" minOccurs="0"/>
      <xs:element name="accessibleWheelchairFlag" type="xs:string" minOccurs="0"/>
      <xs:element name="alcoholFlag" type="xs:string" minOccurs="0"/>
      <xs:element name="alcoholBarFlag" type="xs:string" minOccurs="0"/>
      <xs:element name="alcoholBeerWineFlag" type="xs:string" minOccurs="0"/>
      <xs:element name="alcoholByobFlag" type="xs:string" minOccurs="0"/>
      <xs:element name="groupsGoodForFlag" type="xs:string" minOccurs="0"/>
      <xs:element name="kidsGoodForFlag" type="xs:string" minOccurs="0"/>
      <xs:element name="kidsMenuFlag" type="xs:string" minOccurs="0"/>
      <xs:element name="mealBreakfastFlag" type="xs:string" minOccurs="0"/>
      <xs:element name="mealCaterFlag" type="xs:string" minOccurs="0"/>
      <xs:element name="mealDeliverFlag" type="xs:string" minOccurs="0"/>
      <xs:element name="mealDinnerFlag" type="xs:string" minOccurs="0"/>
      <xs:element name="mealLunchFlag" type="xs:string" minOccurs="0"/>
      <xs:element name="mealTakeoutFlag" type="xs:string" minOccurs="0"/>
      <xs:element name="optionsGlutenfreeFlag" type="xs:string" minOccurs="0"/>
      <xs:element name="optionsLowfatFlag" type="xs:string" minOccurs="0"/>
      <xs:element name="optionsOrganicFlag" type="xs:string" minOccurs="0"/>
      <xs:element name="optionsVeganFlag" type="xs:string" minOccurs="0"/>
      <xs:element name="optionsVegetarianFlag" type="xs:string" minOccurs="0"/>
      <xs:element name="roomPrivateFlag" type="xs:string" minOccurs="0"/>
      <xs:element name="seatingOutdoorFlag" type="xs:string" minOccurs="0"/>
      <xs:element name="address" type="xs:string" minOccurs="0"/>
      <xs:element name="lat" type="xs:string" minOccurs="0"/>
      <xs:element name="lon" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TSRestaurantObj">
    <xs:sequence>
      <xs:element name="restaurantId" type="xs:string" minOccurs="0"/>
      <xs:element name="factualId" type="xs:string" minOccurs="0"/>
      <xs:element name="restaurantName" type="xs:string" minOccurs="0"/>
      <xs:element name="factualRating" type="xs:string" minOccurs="0"/>
      <xs:element name="priceRange" type="xs:string" minOccurs="0"/>
      <xs:element name="restaurantCityId" type="xs:string" minOccurs="0"/>
      <xs:element name="restaurantHours" type="xs:string" minOccurs="0"/>
      <xs:element name="restaurantLat" type="xs:string" minOccurs="0"/>
      <xs:element name="restaurantLon" type="xs:string" minOccurs="0"/>
      <xs:element name="sumVoteCount" type="xs:string" minOccurs="0"/>
      <xs:element name="sumVoteValue" type="xs:string" minOccurs="0"/>
      <xs:element name="tbdOpenTableId" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TSRestaurantPhotoObj">
    <xs:sequence>
      <xs:element name="restaurantId" type="xs:string" minOccurs="0"/>
      <xs:element name="photoId" type="xs:string" minOccurs="0"/>
      <xs:element name="prefix" type="xs:string" minOccurs="0"/>
      <xs:element name="suffix" type="xs:string" minOccurs="0"/>
      <xs:element name="width" type="xs:string" minOccurs="0"/>
      <xs:element name="height" type="xs:string" minOccurs="0"/>
      <xs:element name="ultimateSourceName" type="xs:string" minOccurs="0"/>
      <xs:element name="ultimateSourceUrl" type="xs:string" minOccurs="0"/>
      <xs:element name="photoSource" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TSRestaurantView">
    <xs:sequence>
      <xs:element name="id" type="xs:string" minOccurs="0"/>
      <xs:element name="photo" type="TSRestaurantPhotoObj" minOccurs="0"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TSSocialAutoPubSettingsObj">
    <xs:sequence>
      <xs:element name="usncORDER" type="xs:string" minOccurs="0"/>
      <xs:element name="usncYN" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TSSocialSettingsObj">
    <xs:sequence>
      <xs:element name="usncORDER" type="xs:string" minOccurs="0"/>
      <xs:element name="usncYN" type="xs:string" minOccurs="0"/>
      <xs:element name="auto_publishing" type="TSSocialAutoPubSettingsObj" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TSSuccessObj">
    <xs:sequence>
      <xs:element name="successMsg" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TSUserObj">
    <xs:sequence>
      <xs:element name="userId" type="xs:string" minOccurs="0"/>
      <xs:element name="tsUserId" type="xs:string" minOccurs="0"/>
      <xs:element name="tsUserEmail" type="xs:string" minOccurs="0"/>
      <xs:element name="tsUserPw" type="xs:string" minOccurs="0"/>
      <xs:element name="tsFirstName" type="xs:string" minOccurs="0"/>
      <xs:element name="tsLastName" type="xs:string" minOccurs="0"/>
      <xs:element name="maxInvites" type="xs:string" minOccurs="0"/>
      <xs:element name="userCreatedInitialDatetime" type="xs:string" minOccurs="0"/>
      <xs:element name="userPoints" type="xs:string" minOccurs="0"/>
      <xs:element name="twitterUsrUrl" type="xs:string" minOccurs="0"/>
      <xs:element name="userDisabledFlag" type="xs:string" minOccurs="0"/>
      <xs:element name="userActivationKey" type="xs:string" minOccurs="0"/>
      <xs:element name="userGender" type="xs:string" minOccurs="0"/>
      <xs:element name="userCityId" type="xs:string" minOccurs="0"/>
      <xs:element name="userState" type="xs:string" minOccurs="0"/>
      <xs:element name="isOnline" type="xs:string" minOccurs="0"/>
      <xs:element name="userCountry" type="xs:string" minOccurs="0"/>
      <xs:element name="userFbId" type="xs:string" minOccurs="0"/>
      <xs:element name="about" type="xs:string" minOccurs="0"/>
      <xs:element name="currentStatus" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TSUserProfileBasicObj">
    <xs:sequence>
      <xs:element name="userId" type="xs:string" minOccurs="0"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="photo" type="TSPhotoObj" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TSUserProfileObj">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="photo" type="xs:string" minOccurs="0"/>
      <xs:element name="facebookCity" type="xs:string" minOccurs="0"/>
      <xs:element name="facebookUrl" type="xs:string" minOccurs="0"/>
      <xs:element name="twitterUrl" type="xs:string" minOccurs="0"/>
      <xs:element name="blogUrl" type="xs:string" minOccurs="0"/>
      <xs:element name="aboutMeText" type="xs:string" minOccurs="0"/>
      <xs:element name="numFollowers" type="xs:string" minOccurs="0"/>
      <xs:element name="numFollowees" type="xs:string" minOccurs="0"/>
      <xs:element name="numFriendsOnTs" type="xs:string" minOccurs="0"/>
      <xs:element name="numPoints" type="xs:string" minOccurs="0"/>
      <xs:element name="restaurantList" type="TSRestaurantView" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TSUserProfileRestaurantsObj">
    <xs:sequence>
      <xs:element name="restauarntId" type="xs:string" minOccurs="0"/>
      <xs:element name="restaurantName" type="xs:string" minOccurs="0"/>
      <xs:element name="cuisineTier2Name" type="xs:string" minOccurs="0"/>
      <xs:element name="price" type="xs:string" minOccurs="0"/>
      <xs:element name="restaurantCity" type="TSCityObj" minOccurs="0"/>
      <xs:element name="restaurantLat" type="xs:string" minOccurs="0"/>
      <xs:element name="restaurantLong" type="xs:string" minOccurs="0"/>
      <xs:element name="restaurantDealFlag" type="xs:string" minOccurs="0"/>
      <xs:element name="restaurantRating" type="xs:string" minOccurs="0"/>
      <xs:element name="userSavedFlag" type="xs:string" minOccurs="0"/>
      <xs:element name="userFavFlag" type="xs:string" minOccurs="0"/>
      <xs:element name="userRecommendedFlag" type="xs:string" minOccurs="0"/>
      <xs:element name="userTipFlag" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TSRecoRequestObj">
    <xs:sequence>
      <xs:element name="recommendeeUser" type="TSRecommendeeUserObj" minOccurs="0"/>
      <xs:element name="recorequestText" type="xs:string" minOccurs="0"/>
      <xs:element name="recommendeeUserFolloweeFlag" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TSRecommendationsFollowupObj">
    <xs:sequence>
      <xs:element name="questionUse" type="TSUserProfileBasicObj" minOccurs="0"/>
      <xs:element name="questionText" type="xs:string" minOccurs="0"/>
      <xs:element name="questionUserFolloweeFlag" type="xs:string" minOccurs="0"/>
      <xs:element name="restaurant" type="TSRestaurantObj" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TSRecommendationsForYouObj">
    <xs:sequence>
      <xs:element name="recoRequestList" type="TSRecoRequestObj" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="restaurantList" type="TSRestaurantObj" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TSRecommendeeUserObj">
    <xs:sequence>
      <xs:element name="recommendeeUser" type="TSUserProfileBasicObj" minOccurs="0"/>
      <xs:element name="replyId" type="xs:string" minOccurs="0"/>
      <xs:element name="replyText" type="xs:string" minOccurs="0"/>
      <xs:element name="addedPoints" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TSRecommendersDetailsObj">
    <xs:sequence>
      <xs:element name="userId" type="xs:string" minOccurs="0"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="photo" type="TSPhotoObj" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TSSenderUserObj">
    <xs:sequence>
      <xs:element name="senderUser" type="TSUserProfileBasicObj" minOccurs="0"/>
      <xs:element name="senderUserFolloweeFlag" type="xs:string" minOccurs="0"/>
      <xs:element name="message" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
